$main-font: 'Poppins', sans-serif;
$sectiontitle-font: 'Ramabhadra', sans-serif;
$header-font: 'Mulish', sans-serif;

$main-color: #ffffff;
$accent-color:#48B84A;
$gray:#233133;
$bg-color:#000000;
$transition: all 0.5s ease;

