.footer {
    &__top {
        background-color: #233133;
        padding: 33px 0;
        text-align: center;
    }

    &__social {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 42px;
        margin-bottom: 40px;
        @media(max-width:570px){
            gap: 30px;
        }
    }
    
    &__bottom {
        text-align: center;
        padding: 18px 0;
        font-size: 25px;
        @media(max-width:740px){
            font-size: 14px;
        }
    }
    .social__link{
        width: 69px;
        height: 69px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $accent-color;
        @media(max-width:570px){
            width: 45px;
            height: 45px;
        }
    }
    .nav{
        margin: 0 auto;
        &__list{
            justify-content: center;
            flex-wrap: wrap;
            @media(max-width:570px){
                gap: 30px;
            }
        }
        &__list-link{
            @media(max-width:570px){
               font-size: 18px;
            } 
        }
    }
}
