.product {
    margin-bottom: 80px;
    @media(max-width:570px){
       margin-bottom: 40px;
   } 
    &__title {
        text-align: center;
        margin-bottom: 62px;
        @media(max-width:1100px){
            font-size: 75px;
        }
         @media(max-width:570px){
             font-size: 45px;           
        } 
        @media(max-width:470px){
             font-size: 30px;
        } 
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media(max-width: 1500px){
            justify-content: space-around;
        }
    }
    &__item {
        max-width: 370px;
        width: 100%;
        border-radius: 15px;  
        position: relative;
        margin: 0 10px;
        &:hover{
            .product__item-price{
                color: $main-color;  
            }
            .product__item-name{
                background-color: $accent-color;
            }
            .product__item-link{
                border: 1px solid $accent-color;
            }
        }  
        @media(max-width: 1570px){
           margin-bottom: 25px;
        }    
    }
    &__item{
        overflow: hidden;
        .stripe{
            position: absolute;            
            background-color: $main-color;
            font-size: 15px;
            text-transform: uppercase;
            font-family: $sectiontitle-font;
            color: #233133;
            width: 182px;
            height: 30px;
            top: 39px;
            right: -38px;
            transform: rotate(45deg);
        } 
        @media(max-width:470px){
           line-height: 133.5%;
       }       
    }
    &__item-name {
        background-color: #233133;
        text-align: center;
        font-size: 25px;
        text-transform: uppercase;
        font-family: $sectiontitle-font;
        padding: 37px 0 37px;
        border-bottom: 1px solid #000;
        @media(max-width:470px){
            font-size: 22px;
       }
    }

    &__item-quantity {
        margin-bottom: 20px;
        span{
            width: 38px;
            height: 38px;
            background-color: #233133;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
        }
    }
    &__item-price {
        font-size: 60px;
        color: $accent-color;    
        @media(max-width:470px){
            font-size: 42px;
       }    
    }   

    &__item-descr {
        background-color: #233133;
        padding-bottom: 23px;
    }

    &__item-list {
      padding: 20px 25px 30px;
    }
    &__item-point {
        font-size: 30px;
        line-height: 181%;
        padding-left: 50px;
        position: relative;
        &::before{
            position: absolute;
            content: url('./images/check.svg');
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            top: 6px;
            left: 0;
        }       
        @media(max-width:470px){
             font-size: 22px;
        } 
    }
    &__item-point.disabled{
        opacity: 0.25;
        &::before{
            opacity: 0;
        }
    }
    &__item-link {
        max-width: 280px;
        width: 100%;
        padding: 15px;
        font-size: 25px;
        text-align: center;
        background: transparent;
        border: 1px solid #525252;
        display: block;
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
        @media(max-width:470px){
            font-size: 22px;
            padding: 8px;
            max-width: 225px;            
       } 
    }    
}

