.subscription {
    margin-bottom: 50px;  
    text-align: center;    

    &__title {
        text-align: center;
        margin-bottom: 30px;
        @media(max-width:1100px){
            font-size: 75px;
        }
        @media(max-width:570px){
           font-size: 45px;           
        } 
        @media(max-width:470px){
           font-size: 30px;
        } 
    }
    &__text {
        font-size: 20px;
        font-family: $sectiontitle-font;
        text-transform: uppercase;        
        margin-bottom: 75px;
        text-align: center;
    }
    &__form-box {
        display: flex;
        max-width: 955px;
        gap: 8px;
        flex-wrap: wrap;
        margin: 0 auto;
        position: relative; 
    }
    &__form-input {
        max-width: 715px;
        width: 100%;
        border-radius: 10px;
        background-color: #233133; 
        color: #000;    
        padding: 20px 40px;
        font-size: 25px;
        font-weight: 400;
        line-height: 181%;
        &::placeholder{
            font-size: 25px;
            line-height: 181%;
            color: rgba($main-color, 0.25);
        }
    }
    &__form-btn {
        max-width: 222px;
        width: 100%;
        padding: 21px 47px;
        border-radius: 10px;
        background-color: $accent-color;
        font-size: 25px;
        font-weight: 600;
        line-height: 181%;
        color: $main-color;
    }
    &__link-box{
        position: absolute;
        display: flex;
        flex-direction: column;
        bottom: 0;
        bottom: -20px;
        right: -100px;
        gap: 31px;
        a{
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__img{
        width: 69px;
        height: 69px;
        border-radius: 50%;
    }
}
