.teacher {
    margin-bottom: 117px;
    @media(max-width:1140px){
        margin-bottom: 80px;
    }    
    @media(max-width:570px){
        margin-bottom: 20px;
    }    
    &__title {
        text-align: center;
        margin-bottom: 150px;
        @media(max-width:1140px){
            margin-bottom: 80px;
            font-size: 70px;
        }
        @media(max-width:570px){           
            font-size: 45px;
            margin-bottom: 40px;
        }
        @media(max-width:470px){           
            font-size: 30px;           
        }
    }
    &-wrapper{
        max-width: 1600px;
        margin: 0 auto;
    }
    &__slider {
        display: flex;
        align-items: center;   
        max-height: 480px;
        height: 100%;    
    }
   
    &__item {
        display: flex;
        max-width: 381px;
        width: 100%;              
        transition: all 0.5s;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background:rgba(#000000, 0.7);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &:hover{ 
            &::before{
                opacity: 0;
            }                   
            .teacher__social{
                opacity: 1;
                visibility: visible;
                top: 49px;
            }                                 
        }      
    }

    &__content {
       overflow-y: visible;
    }

    &__img {
        display: block;   
        max-width: 381px;
        width: 100%;
        height: 370px;   
        @media(max-width:570px){
            height: 280px;
         }         
    }
    &__info {
        text-align: center;
        background-color: #1EAA72;
        width: 100%;
        height: 87px;
        padding: 14px;
        @media(max-width:570px){
           padding: 5px;
        }
    }
    &__name {
        color: #080C14;
        font-size: 25px;
        font-weight: 600;
        line-height: 125%;
        @media(max-width:570px){
            font-size: 18px;
         }
    }

    &__occupation {
        font-size: 15px;
        @media(max-width:570px){
            font-size: 12px;
         }
    }

    &__social { 
        background-color: $accent-color;
        border-radius: 28px 0px 0px 28px;
        padding: 18px 10px;
        width: 80px;
        height: 232px;       
        opacity: 0; 
        visibility: hidden; 
        transition: all 0.3s;    
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 3;
    }    
}
.teacher{
    &__dots{
        display: flex;
        text-align: center;
        position: relative;  
        @media(max-width:470px){
           height: 80px;
         } 
    .slick-track{
        @media(max-width:470px){
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        }
    }      
    }    
    &__dots-btn{
        background-color: transparent;
        color: $main-color;
        width: 35px;
        height: 35px;
        padding: 0;
        position: absolute;
        top: 37%;  
        z-index: 5;
        @media(max-width:470px){
           top: 46%;
          }  
          
        img{
            width: 35px;
            height: 35px;
        }
    }
    &__dots-btn--left{
        left: 45%;
        @media(max-width:1140px){
           left: 43%;
        }
        @media(max-width:810px){
           left: 40%;
        }
        @media(max-width:570px){
           left: 30%;
        }
    }
    &__dots-btn--right{
        right: 45%;
        @media(max-width:1140px){
           right: 43%;
        }
        @media(max-width:810px){
           right: 40%;
        }
        @media(max-width:570px){
           right: 30%;
        }
    }   
}

