.top { 
    overflow-x: hidden;   
    &__title {
        max-width: 1133px;
        @media(max-width:1600px){
            font-size: 60px;
            max-width: 990px;
        }
        @media(max-width:1376px){            
            max-width: 740px;
        }
        @media(max-width:1045px){            
            max-width: 100%;
            font-size: 45px;
         }
        @media(max-width:578px){            
            font-size: 30px;
         }
        @media(max-width:470px){            
            font-size: 25px;
         }
        span{
            color: #48B84A;
            font-family: $main-font;
            font-size: 120px;            
            font-weight: 700;
            line-height: 125%;
            text-transform: uppercase;
            -webkit-text-stroke: 1px $accent-color;
            text-stroke: 1px $accent-color;
            text-shadow: none;
            margin-top: -22px;
            display: inline-block;
            @media(max-width:1600px){
                font-size: 80px;
                margin-top: 0;
            }
            @media(max-width:768px){            
               font-size: 65px;
             }
             @media(max-width:578px){            
                font-size: 45px;
             }
             @media(max-width:470px){            
                font-size: 35px;
             }
        }
        &-box{
            display: flex;
            gap: 110px;
            @media(max-width:1376px){            
                gap: 30px;
            }
            @media(max-width:1045px){            
               display: block;
            }
        }
    } 
    &__benefit{
        background-color: $accent-color;
        width: 224px;
        height: 224px;
        border-radius: 50%;
        color: #000;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 52px 22px;
        outline: 1px solid #080C14;
        outline-offset: -8px;
        position: relative;
        @media(max-width:1600px){
            margin-left: auto;
            margin-right: 30px;
        }
        @media(max-width:768px){            
           display: none;
        }
        span{
            background-color: $accent-color;
            width: 68px;
            height: 68px;
            border-radius: 50%;
            color: $main-color;
            font-size: 19px;               
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            outline: 1px solid #080C14;
            position: absolute;
            right: -17px;
            top: 15px;
        }
        &-text{
            color: #080C14;
            text-align: center;
            font-family: $main-font;
            font-size: 20px;            
            font-weight: 600;   
            line-height: normal;         
            text-transform: uppercase;            
        }
    } 
    &__text {
        max-width: 530px;
        display: flex;
        margin-left: auto;
        margin-top: -20px;
        font-size: 25px;
        @media(max-width:1600px){
            margin-top: 30px;
        }
        @media(max-width:1045px){            
           margin-top: -40px;
         }
         @media(max-width:768px){            
            margin-top: 40px;
            margin-left: 0;
            margin-right: auto;
         }
         @media(max-width:578px){            
            font-size: 18px;
            margin-top: 20px;
         }
    } 	

    &__content {
        display: flex;
        margin-top: 102px;
        padding-bottom: 33px;
        position: relative;
        margin-bottom: 60px;
        @media(max-width:1376px){            
           display: block;
        }
        @media(max-width:768px){            
            margin-top: 75px;
         }
         @media(max-width:578px){            
            margin-top: 60px;
         }
    }
   
    &__descr {
        max-width: 610px;
        width: 100%;
        margin-right: 7px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 33px;
        @media(max-width:1376px){            
            max-width: 740px;
        }
        @media(max-width:1045px){            
            max-width: 100%;
        }
    }

    &__descr-title {
        color: $accent-color;        
        font-size: 40px;
        font-weight: 500;
        @media(max-width:1045px){            
            margin-bottom: 15px;
        }
        @media(max-width:578px){            
            font-size: 35px;
         }
         @media(max-width:470px){            
            font-size: 30px;
         }
    }
    &__descr-text {
        font-size: 28px;
        @media(max-width:578px){            
            font-size: 18px;
         }
    }

    &__slider {
        position: relative;
        max-width: 898px;
        width: 100%;
        @media(max-width:1376px){            
            max-width: 100%;
        }
        &::before{
            position: absolute;
            content: '';
            width: 818px;
            height: 818px;
            border-radius: 50%;           
            background: linear-gradient(238deg, #48B84A 6.74%, rgba(8, 12, 20, 0.00) 86.22%);
            top: -109px;
            left: -93px;
            z-index: -1;
            @media(max-width:1376px){            
               left: 40px;               
            }
            @media(max-width:1045px){            
                width: 650px;
                height: 650px;
             }
             @media(max-width:768px){            
                display: none;
             }
        }
    }
  
    &__slider-item {
        position: relative;               
    }

    &__slider-img {
        max-width: 898px;
        width: 100%;
        @media(max-width:470px){            
            height: 355px;
         }
    }

    &__slider-info {
        display: flex;
        gap: 22px;
        position: absolute;
        top: 290px;
        left: 7px;
        @media(max-width:578px){            
            top: 189px;
         }
        @media(max-width:470px){            
            display: none;
         }
    }

    &__slider-avatar {
        width: 110px;
        height: 140px;
        border: 2px solid #FFF;
        border-radius: 55.5px;        
        box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.50);
        @media(max-width:578px){            
            width: 60px;
            height: 80px;
         }   
    }
    &__slider-text {
        max-width: 222px;
        font-size: 15px; 
        line-height: 125%;       
        font-weight: 500;        
        border-radius: 0px 15px 15px 15px;
        background: rgba(0, 0, 0, 0.56);
        display: inline-block;
        padding: 15px 18px;
        max-height: 86px;
        margin-top: 23px;
        @media(max-width:578px){            
            margin-top: 8px;
            padding: 10px;
            max-width: 200px;
         }
    }
    @media(max-width:1376px){
        .slick-track {
            display: flex !important;
            height: 850px;
            align-items: center;
        }            
        .slick-slide {
            height: auto;
        }
    }
    @media(max-width:1076px){
        .slick-track {            
            height: 700px;            
        }       
    }
    @media(max-width:1045px){            
        .slick-track {            
            height: 625px;            
        } 
     }
    @media(max-width:768px){            
        .slick-track {     
           height: 360px;          
        } 
     }
    @media(max-width:470px){            
        .slick-slide {     
           padding: 0;        
        } 
     }
        
}
.top__slider-btn.slick-arrow{
    img{width: 32px;
        height: 16px;
    } 
    display: inline-block;  
    background: transparent;
    padding: 0;
    position: absolute;
    bottom: -33px;
    z-index: 5;
}
.top__slider-btn.top__slider-btn--prev.slick-arrow{
    left: -610px;
    @media(max-width:1376px){
        left: 44%;
    }
    @media(max-width:578px){
        left: 40%;
    }
    @media(max-width:470px){
        left: 36%;
    }
}
.top__slider-btn.top__slider-btn--next.slick-arrow{
    left: -535px;
    @media(max-width:1376px){
        left: 0;
        right: -8%;
    }
    @media(max-width:470px){       
        right: -11%;
    }
}

